#grid div {
	position: absolute;
	height: 90px;
	width: 90px;
	border: 4px solid #524a52;
	font-size: 40pt;
}

.highlight {
	cursor: pointer;
	border: 4px solid #c5627b !important;
	color: #c5627b;
}

#grid {
	position: relative;
	height: 400px;
	width: 675px;
	margin: auto;
}

body {
	font-family: Tahoma;
	font-size: 14pt;
	text-align: center;
    color:#524a52
}

#unitmenu {
	float: left;
    border: 2px solid #f6b441;
    width: 200px;
    height: 110px;
}

#menu {
	list-style: none;
}

#menu:hover {
	cursor: pointer;
}

.available {
	background-color: #83a4de;
}

#menu li:hover {
	color: #ee8341;
}
