#grid div {
	position: absolute;
	height: 90px;
	width: 90px;
	border: 5px solid black;
	font-size: 40pt;
}

.highlight {
	cursor: pointer;
	border: 5px solid red !important;
	color: red;
}

#grid {
	position: relative;
	height: 400px;
	width: 400px;
	margin: auto;
}

body {
	font-family: cursive;
	font-size: 14pt;
	text-align: center;
}

#unitmenu {
	display: none;
	float: left;
}

#menu {
	list-style: none;
}